ul {
    list-style-type: none;
    padding-inline-start: 0px;
    margin-top: 20px;
}

li {
    display: inline-block;
    margin-right: 7px;
}

li:last-child {
    position: absolute;
    right: 10%;
    margin-right: 0px;
}

small {
    font-family: 'Lora', serif;
}