:host {
    font-family: var(--font-body);
}

a {
    text-decoration: none;
    font-family: var(--font-body);
    font-size: 14px;
    color: #666;
    transition: color 0.2s ease-in;
}

a:hover {
    color: #f47e00;
}

.a-link {
    
}

h4 {
    margin-top: -4px;
    margin-bottom: 19px;
    font-size: 19px;
    font-family: var(--font-heading);
    font-weight: 700;
    line-height: 1.15;
    letter-spacing: -0.01em;
    color: #000;
}

ul {
    padding: 0;
    list-style: none;
    margin: 0;
    margin-bottom: 45px;
}

li {
    display: list-item;
    margin-right: 7px;
    margin-bottom: 8px;
    border-bottom: 1px dotted #ECECEC;
    padding-bottom: 8px;
}
