@font-face { font-family: podkova; 
    src: url('../fonts/Podkova-VariableFont_wght.ttf'); } 
@font-face { font-family: rokkitt; 
    src: url('../fonts/Rokkitt-VariableFont_wght.ttf'); } 
@font-face { font-family: lora; 
    src: url('../fonts/Lora-VariableFont_wght.ttf'); }     

:root {
    --font-heading: "Roboto Slab", ui-serif, Georgia, "Times New Roman", serif;
    --font-body: "Lora", serif;
}

html {
    font-synthesis: none;
}

body {
    margin-left: 10%;
    margin-right: 10%;
    padding: 0px;
    word-break: break-word;
}

h1,
h2,
h3,
.title,
.post-header {
    font-family: var(--font-heading);
    font-weight: 700;
    line-height: 1.15;
    letter-spacing: -0.01em;
}

main {
    -webkit-font-smoothing: antialiased;
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 8fr 0.5fr;
    grid-template-columns: 4fr 1.5fr;
    grid-template-areas: 
    "header header"
    "article nav"
    "footer footer"
}

header {
    grid-area: header;
    background: white;
    margin-top:20px; 
}

nav {
    grid-area: nav;
    background: white;
    margin-left: 12%;
    margin-top: 32px;
    
}

article {
    grid-area: article;
}

footer {
    grid-area: footer;
    background: white;
    border-top: 2px solid #efefef;
    margin-top: 15px;
}

.border-bottom {
    border-bottom: 1px solid #878282;
}

icon-view {
    grid-area: icon-view;
    background: white;
}

/* Responsive styles for mobile devices */
@media (max-width: 600px) {
    body {
        margin-left: 2%;
        margin-right: 2%;
        font-size: 16px;
    }
    main {
        height: auto;
        display: block;
    }
    header, nav, article, footer {
        all: unset;
        display: block;
        width: 100%;
        box-sizing: border-box;
        margin: 0 0 10px 0;
    }
    header {
        margin-top: 0;
        margin-bottom: 0;
    }
    nav {
        margin-bottom: 10px;
        padding: 10px 0;
    }
    article {
        margin-bottom: 10px;
    }
    footer {
        margin-top: 10px;
    }
}
