:host {
    font-family: var(--font-body);
}

h4 {
    margin-top: -4px;
    margin-bottom: 19px;
    border-radius: 30px;
    font-size: 19px;
    font-family: var(--font-heading);
    font-weight: 700;
    line-height: 1.15;
    letter-spacing: -0.01em;
    color: #000;
}

ul {
    padding: 0;
    list-style: none;
    margin: 0;
    margin-bottom: 45px;
}

ul > li {
    margin-bottom: 12px;
    padding-bottom: 12px;
    line-height: 23px;
    border-bottom: 1px dotted #ECECEC;
    word-break: break-word;
}

ul > li > h5 {
    margin: 0;
    font-size: 17px;
    line-height: 20px;
    font-family: var(--font-heading);
    font-weight: 700;
    letter-spacing: -0.01em;
}

ul > li > h5 > a {
    color: #000;
    transition: color 0.2s ease-in;
    text-decoration: none;
}

ul > li > h5 > a:hover {
    color: #f47e00;
}

ul > li > section {
    font-family: var(--font-body);
    font-size: 11.5px;
    color: #666;
}
